.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    z-index: 300000;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.7);
    z-index: 200000;
  }

@media (max-width:768px){
    .Modal{
        width:90vw;
    }
  }

.modal__add,.modal__add__form{
    display: flex;
    flex-direction: column;
}