
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em 1em 0 2em;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title{
  color: #0f0f0f;
  margin-left: 40px;
}
.reminders{
  align-self: center;

}
.reminders-list{
  padding: 0;
  
}

.add{
  border: none;
  background-color: #ffcc00;
  font-weight: bold;
  border-radius: 50%;
  /* position: absolute;
  left: calc(90% - 30px); */
  font-size:32px;
  width: 64px;
  height: 64px;
  text-align: center;
  vertical-align: middle;
  margin-right: 30px;
  
}
.add:hover{
  cursor: pointer;
}



.checkbox-round:checked {
  background-color: gray;
}

@media (max-width: 768px) {
  .header{
    justify-content: center;
  }
  .header-title{
    margin-left: 0;
  } 
  .add{
    margin-right:0px;
    position: fixed;
    z-index: 100000;
    left: 75%;
    top: 75%;
  }
  
}